{% extends 'base.html.twig' %}

{% block content %}
    <div class="home-content">
        <div class="container">
            <div class="jumbotron bg-white">
                <img class="mx-auto d-block img-fluid" alt="Responsive image" src="{{ asset('img/logo2.png') }}">
                <div class="col-md-12 pt-5">
                    <h1 class="text-center"><strong>"Parce qu'on à tous le droit à une vie Meilleure"</strong></h1>
                </div>
            </div>
        </div>
    </div>


    <div id="patient" class="jumbotron bg-blue color-txt-white">
        <div class="container w-60">
            <div class="row col-md-12">
                <i class="fa fa-youtube-play" style="font-size:100px;color:red"></i>
            </div>
            <div class="row col-md-12">
                <h2 class="margin-div">Les Patients en état Végétatif Chronique ou État Pauci Relationnel</h2>
                <p>
                    Parce que les images et la lumière éclairent parfois plus facilement que les phrases et les mots,
                    nous vous invitons à visionner cette vidéo de quelques minutes pour appréhender la réalité de cette situation,
                    les conditions de vie, les moyens nécessaires et l'humanité des personnes qui assistent chaque heure et chaque jour les patients.
                </p>
                <p>
                    Nous avons voulu cette vidéo à l'image des émotions et des sentiments qui nous animent, pleine de vie, pleine d'espoir, à la fois ouverte et intimiste.
                </p>
                <iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/FwLs81UQCNE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div id="vegetative" class="jumbotron bg-yellow color-txt-black">

        <div class="container w-60">
            <i class="fa fa-heartbeat" style="font-size:100px;color:red"></i>
            <div class="row col-md-12">
                <h2 class="margin-div">Qu'est-ce qu'un ÉTAT VÉGÉTATIF CHRONIQUE et un ÉTAT PAUCI RELATIONNEL ?</h2>

                <p>
                    Cet état se définit par l'absence de toute interaction verbale ou motrice avec l'environnement extérieur alors que le sujet est en état de veille (ouverture des yeux).
                    Les lésions cérébrales sont étendues et souvent irréversibles.
                </p>
                <p>
                    Les causes les plus fréquentes sont :
                    <br>
                <ul>
                    <li>
                        L'arrêt cardiorespiratoire prolongé
                    </li>
                    <li>
                        L'accident vasculaire cérébral.
                    </li>
                    <li>
                        Les traumatismes crâniens résultant majoritairement d'accident de la voie publique ou domestique.
                    </li>
                </ul>
                </p>
                <p>
                    Ces drames de la vie peuvent concerner chacun d’entre nous directement ou indirectement et nous confronter à ces situations douloureuses.
                    Pour les patients EVC (État Végétatif Chronique) il n'y pas de réponse motrice précise, pas de réponse aux ordres simples, la communication par la parole est souvent impossible et l'interaction avec l'environnement est altérée.
                    Pour les patients EPR (État Pauci-Relationnel) il existe un degré de réponse volontaire à quelques stimulations extérieures, l'état de conscience est généralement supérieur à celui d'un patient en Etat Végétatif Chronique.
                </p>
            </div>
        </div>
    </div>

    <div id="supported" class="jumbotron bg-white color-txt-black">
        <div class="container w-60">
            <i class="fa fa-bed" style="font-size:100px;color:red"></i>
            <div class="row col-md-12">
                <h2 class="margin-div">LA PRISE EN CHARGE DES PATIENTS  </h2>
                <p>
                   Le service « Lac Chauvet » est le lieu de vie des patients accueillis.
                   <br>
                    Inévitablement, des liens particuliers se créent entre eux
                    et l'équipe pluridisciplinaire (infirmiers, médecins, aide-soignants,
                    kinésithérapeute, ergothérapeute, orthophoniste, psychologue,
                    assistant social, agents de services hospitaliers,
                    personnel technique, administratif, de restauration)
                </p>

                <p>
                   Au delà de la prise en charge thérapeutique chacun à conscience que le soutien,
                   l'écoute, l'accompagnement est essentiel pour les familles et
                   les proches confrontés à cette situation d'autant plus douloureuse qu'elle est
                   subite et imprévisible, et qu'elle peut toucher chacun d'entre nous.
                </p>

            </div>
        </div>
    </div>


    <div class="jumbotron bg-blue color-txt-white">
        <div class="container w-60">
            <i class="fa fa-cc-paypal text-center" style="font-size:100px;color:#ffba00"></i>
            <div class="row col-md-12">
                <h2 class="margin-div">NOUS FAIRE UN DON </h2>

                <div class="col-12">
                    <p> Pour faire un don cliquez ci-dessous :

                    </p>
                    <p>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6AVYVLTCZCAES">
                            <h6> Lien PayPal </h6>
                        </a>
                    </p>
                </div>
                <div class="col-12">
                    <p> Télécharger le bulletin d'adhéssion :
                        <a class="txt-light-white" href="{{ asset('img/bulletin-adhesion-asso.png') }}" download>
                            <h6>Bullettin d'adhéssion</h6>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
