{% extends 'base-admin.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Administrer les articles</h1>
        <br>
        {% if articles  == null %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Attention!</h4>
            <p class="mb-0">Aucun article n'a été enregistré <a href="{{ path('add-article') }}" class="alert-link">Ajouter un article</a>.</p>
        </div>
        {% else %}
            <div class="btn-add">
                <button class="btn btn-primary"><a  href="{{ path('add-article') }}">Ajouter un article</a> </button>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date de création</th>
                    <th>Description</th>
                    <th>Catégorie</th>
                    <th>Gestion</th>
                </tr>
                </thead>
                <tbody>

                {% for article in articles %}
                    <tr>
                        <td>{{ article.title | raw}}</td>
                        <td>{{ article.dateCreation | date("m/d/Y")  }}</td>
                        <td> {{ article.description | raw   }}</td>
                        <td>{{ article.category.getName ?? ""  }}</td>
                        <td>
                            <button type="button" class="btn btn-primary a_button"><a href="{{ path('see-article' , {'id' : article.id }) }}">Voir</a></button>
                            <button type="button" class="btn btn-success a_button"><a href="{{ path('update-article' , {'id' : article.id }) }}">Modifier</a></button>
                            <button type="button" class="btn btn-danger a_button" ><a href="{{ path('delete-article' , {'id' : article.id }) }}">Supprimer</a></button>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
