{% extends 'base-admin.html.twig' %}


{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card m-12">
                <div class="card-header">
                    <h6 class="card-title">Titre : {{ article.title | raw }}</h6>
                    <h6 class="card-title">Description : {{ article.description | raw }}</h6>
                </div>

                <div class="card-body">
                    {{ article.content | raw }}

                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success a_button"><a href="{{ path('update-article' , {'id' : article.id }) }}">Modifier</a></button>
                    <button type="button" class="btn btn-danger a_button" ><a href="{{ path('delete-article' , {'id' : article.id }) }}">Supprimer</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
