{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">

      <div class="row col-md-12 margin-div">
          <div class="col-md-6">
              <img class="mx-auto d-block img-fluid img-thumbnail" alt="Responsive image" src="{{ asset('img/jpm.png') }}">
          </div>
          <div class="col-md-6">
              <h1 class="txt-light-blue">Les mots de notre parrain </h1>
              <p>
                  "J'ai eu la chance pendant des années de pouvoir pratiquer le sport à haut niveau
                  en étant en possession de toutes mes capacités physiques.
              </p>
              <p>
                  Le sport véhicules des valeurs de solidarité qu'il faut être capable de restituer à ceux
                  et celles qui n'ont pas cette chance.
              </p>
              <p>
                  Ma participation à la rando solidarité des 6 lacs organisée pas l'association Une Vie Meilleure
                  n'a rien d'un challenge sprotif mais correspond à mon désir d'accompagner un projet porteur
                  de valeurs de solidarité et de partage qui me sont chères."
              </p>
          </div>
      </div>

      <div class="row col-md-12 left-margin-div">
        <div class="col-md-12">
            <h2>Son Palmarès sportif en équipe de France </h2>
            <p>- 2 championnats du monde de Marathon à Athènes en 1997 et à Séville en 1999 (1er en français en 1999) </p>
            <p>- 1 championnat du monde de semi-marathon en 1997 à Kosice(Slovaquie)</p>
            <p>- Médaille de bronze aux jeux de la francophonie en 2001 à Ottawa</p>
        </div>
        <div class="col-md-12">
            <h2 >Ses Records </h2>
            <p>- 10 kms sur route : 29 min 24  </p>
            <p>  - Semi-matathon : 1h12m39s</p>
            <p>  - Marathon : 2h12m13s</p>
        </div>
        <div class="col-md-12">
            <h2>Actuellement Entraineur </h2>
            <p>- Club Limagne Athlète Endurance</p>
            <p>- 2 Sites internet : athlete-endurance.com et vo2-optimum-training.com</p>
        </div>
      </div>

    </div>
    </div>
{% endblock %}
