{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="text-left margin-div">Notre actualités</h1>
        {% if articles  == null %}
            <div class="alert  alert-warning">
                <h4 class="alert-heading">Attention!</h4>
                <p class="mb-0">Aucun article n'a été enregistré <a href="{{ path('home') }}" class="alert-link">Retour page accueill</a>.</p>
            </div>
        {% else %}
            {% for article in articles %}
                <div class="container article">
                    <ul class="col-12 row event no-gutters">
                        <li id="test" class="col-4 test"><img class="img-article rounded" src="{{ article.category.getPathImg ?? "" }}"></li>
                        <li class="col-8 ">
                            <div class="clearfix mb-3">
                                <ul class="list-inline float-md-left mb-md-0">
                                    <li class="list-inline-item text-uppercase text-primary">
                                        <small>{{ article.category.getName ?? "" |upper }}</small>
                                    </li>
                                </ul>
                                <div class="float-md-right small text-muted">{{ article.dateCreation | date("m/d/Y") }}</div>
                            </div>
                            <h3 class="card-title mb-3">
                                <a class="title-article-a" href="{{ path('see-home-article' , {'id' : article.id }) }}">{{ article.title }}</a>
                            </h3>
                            <h6 class="card-title mb-3">
                                <p>{{ article.description }}</p>
                            </h6>
                            <a href="{{ path('see-home-article' , {'id' : article.id }) }}" class="btn btn-primary">Lire la suite →</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}