{% extends 'base.html.twig' %}

{% block content %}
    <div class="container article">
        <div class="inner">
            <header>
                <h1>{{ article.title | capitalize }}</h1>
                <hr>
                <p class="info">Edité le {{ article.dateCreation | date("m/d/Y")  }}</p>
                <hr>
            </header>
            <p> {{ article.content | raw }}</p>
        </div>
    </div>

{% endblock %}