.calendar_table{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.calendar_table td{
    padding: 10px;
    border: 1px solid #9ecc06;
}

.container{
    padding: 20px;
}

.calendar_a{
    color: #333333;
}

.calendar_a:hover{
    color: #00cbc0;
}