{% extends 'base.html.twig' %}

{% block content %}

<div class="container">

    <div>
        <h1>STATUT DE L'ASSOCIATION UNE VIE MEILLEURE  </h1>
        <a class="txt-light-blue" href="{{ asset('img/statut-assocation.pdf') }}" download>Cliquez ici pour télécharger le pdf du contenu intégral des statuts</a>
    </div>
    <div>
        <h3>ARTICLE 1 ER – FORME</h3>
        <p>
        Il est fondé entre les adhérents aux présents statuts une Association régie par la loi du
        1er juillet 1901, modifiée par la loi du 20 juillet 1971, et le décret du 16 août 1901.
        </p>
    </div>
    <div>

        <h3> ARTICLE 2 – OBJET </h3>
         <p>
            L’Association a pour but de faire bénéficier les patients en Etat Végétatif Chronique
            ou Pauci Relationnel (EVC/EPR) d'activités ludiques, permettant la stimulation
            sensorielle dans un autre cadre que celui du soin.
            L'Association s'interdit toute discussion, manifestation ou activité, présentant un
            caractère politique, syndical ou confessionnel
         </p>
    </div>

    <div>
   <h3> ARTICLE 3 – DÉNOMINATION</h3>
        <p>
            L’Association a pour dénomination :
            « Une Vie Meilleure »
        </p>
    </div>
    <div>
   <h3>ARTICLE 4 – SIÈGE SOCIAL</h3>
        <p>
            Le siège social est fixé 8 rue des Garnaudes – 63 400 CHAMALIERES.
            Il pourra être transféré par simple décision du Conseil d’administration et l’Assemblée
            générale en sera informée.
        </p>
    </div>

    <div>
        <h3>ARTICLE 5 – DURÉE</h3>
    <p>L’Association est constituée de Membres Actifs pour une durée illimitée.</p>
    </div>

    <div>
        <h3>ARTICLE 6 – CONDITIONS D'ADMISSION</h3>
        <p>
        Pour être Membre Actif de l’Association, il faut :
        - Être salarié de l'établissement ou membre de la famille des patients EVC/EPR.
        - Accepter intégralement les statuts
        </p>
    </div>
</div>

{% endblock %}