{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <form action="{{ path('login') }}" method="post">

{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
            <div class="form-group">
                <fieldset>
                    <label for="username">Email :</label>
                    <input  class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                </fieldset>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe:</label>
                <input class="form-control"  type="password" id="password" name="_password" />
            </div>

            <button class="btn btn-primary" type="submit">login</button>
        </form>
    </div>
{% endblock %}
