{% extends 'base.html.twig' %}

{% block content %}

 <div class="container">
     <h1>Nous Contacter</h1>
     <div>
         <i class="fa fa-at contact-icon"></i><br>
         <a class="contact" href="mailto:uneviemeilleure63@gmail.com">uneviemeilleure63@gmail.com</a>
     </div>
     <div>
         <i class="fa fa-phone contact-icon"></i>
         <p class="contact">04 73 29 76 70</p>
     </div>
     <div>
         <i class="fa fa-fax contact-icon" ></i>
         <p class="contact">04 73 29 76 76</p>
     </div>
     <div>
         <i class="fa fa-mobile contact-icon"></i>
         <p class="contact">06 38 89 09 19</p>
     </div>

 </div>
{% endblock %}