{% extends 'base-admin.html.twig' %}


{% block content %}
    <div class="container">
        <h1>Administrer les patients</h1>
        {% if patients  == null %}
            <div class="alert alert-warning">
                <h4 class="alert-heading">Attention!</h4>
                <p class="mb-0">Aucun patient n'a été enregistré <a href="{{ path('add-patient') }}" class="alert-link">Ajouter un patient</a>.</p>
            </div>

        {% else %}

            <div class="btn-add">
                <button class="btn btn-primary"><a href="{{ path('add-patient') }}">Ajouter patient</a></button>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Tél</th>
                    <th>Cagnotte</th>
                    <th>Gestion</th>
                </tr>
                </thead>
                <tbody>

                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.firstname }}</td>
                        <td> {{ patient.lastname }}</td>
                        <td> {{ patient.email}}</td>
                        <td> {{ patient.mobile}}</td>
                        <td>{{ patient.money}}</td>
                        <td>
                            <button type="button" class="btn btn-success a_button"><a href="{{ path('update-patient' , {'id' : patient.id }) }}">Modifier</a></button>
                            <button type="button" class="btn btn-danger a_button" ><a href="{{ path('delete-patient' , {'id' : patient.id }) }}">Supprimer</a></button>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>


        {% endif %}
    </div>
{% endblock %}

