body,html{
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body{
background-color: white;
}

html{
    background-color: #333333;
}

a{
    color: #ffffff;
}

footer {
    background-color: #333333;
    text-align: center !important;
    padding: 50px;
    color: white;
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}

ul,li{
    list-style-type: none;
}

#content{
    margin: 0;
    padding: 0;
}
.navbar{
    margin-bottom: 50px;

}

.jumbotron{
    margin-top: 0em;
    border-radius : 0;
    margin-bottom: 0;
}

.nav-link:hover{
    color: #ffba00;
}

.bg-yellow{
    background-color: #ffba00;

}

.bg-blue{
    background-color: #054784;
}

.bg-light-blue{
    background-color: #007bf4;
}

.txt-light-blue{
    color: #007bf4;
}

.bg-black{
    background-color: #333333;
}

.bg-white{
    background-color: #ffffff;
}

.color-txt-yellow{
    color: #ffba00;
}

.color-txt-blue{
    color: #054784;
}

.color-txt-white{
    color: #ffffff;
}

.form-container{
    margin: 25px;
}

.a_button{
    color: #ffffff
}

.a_button:hover{
    color: black;
}

.card-header{
    height: auto;

}
.card-body{
    min-height: 100px;
}

.col-md-4{
    padding-right: 0px;
    padding-left: 0px;
}

.container{
  padding: 25px;
}

.btn-add{
    margin: 5px;
}

.margin-div{
    margin-top: 25px;
    margin-bottom: 50px;
}

.left-margin-div{
    margin-left: 20px;
}

.title-center{
    text-align: center !important;
}

.card-img-top{
    width: 100%;
    height: 250px;
}

/*Article style*/

.article{
    padding: 50px;
}

.event{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.articles{
    width: 100%;
    height: 100%;
}
.img-article{
    width: 250px;
    height: 250px;
}

.title-article-a{
    color: #054784;
}

.title-article-a:hover{
    color: #ffba00;
}
/*footer */

.footer-content{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: stretch;
    margin-left: 15px;
}

.footer-content a,.footer-link{
    font-size: large;
    font-weight: bold;
}

.footer-content a{
    color: #fff;
    margin-left: 15px;
}

.footer-link:hover{
    color: #ffba00;
}

/*icon size contact page */
.contact-icon{
    font-size: 36px;
}

.contact,.contact a{
    font-size: 26px;
    color: #054784;
    font-weight: bold;
}

.contact:hover{
    color: #ffba00;
}

/* page partner */

.partner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.partner img{
    width: 150px;
    height: 150px;
}
.partner a{
    color: #007bf4;
    font-weight: bold;
    font-size: 22px;
}

.partner a:hover{
    color: #ffba00;
    font-weight: bold;
    font-size: 22px;
    
}
