{% extends 'base.html.twig' %}

{% block content %}
<div class="container">

<div class="partner">
            

    <table class="table">
        <thead class="thead-blue">
            <tr>
                <th scope="col">Partenaires</th>
                <th scope="col">Lien des sites</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="{{ asset('img/partner/chamalieres.png') }}"></td>
                <td><a  target="_blank" href="http://www.ville-chamalieres.fr/">Ville de chamalieres</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/logos.png') }}"></td>
                <td><a  target="_blank" href="https://www.logosfm.com/"> logos fm</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/parcdesvolcans.png') }}"></td>
                <td> <a  target="_blank" href="http://www.parcdesvolcans.fr/Un-territoire">Parc des volcans</a></td>
            </tr>

            <tr>
                <td><img src="{{ asset('img/partner/cacic.png') }}"></td>
                <td> <a  target="_blank" href="https://www.cacic.fr/">Cacic</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/volvic.png') }}"></td>
                <td> <a  target="_blank" href="http://www.volvic.fr/">Volvic</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/commerceachamalieres.jpg') }}"></td>
                <td><a  target="_blank" href="http://www.commerceachamalieres.com/">Commercer à chamalieres</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/ca.jpg') }}"></td>
                <td><a  target="_blank" href="https://www.ca-centrefrance.fr/">Crédit Agricole Centre France</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/clermontauvergnetourisme.png') }}"></td>
                <td><a  target="_blank" href="https://www.clermontauvergnetourisme.com/">Clermont Aubergne Tourisme</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/appelmedical.png') }}"></td>
                <td> <a  target="_blank" href="https://www.appelmedical.com/">Appel Médical</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/info.jpg') }}"></td>
                <td> <a target="_blank" href="http://www.info-mag-annonce.com/journal/">Info mag</a></td>
            </tr>

            <tr>
                <td><img src="{{ asset('img/partner/auvergnethermale.png') }}"></td>
                <td> <a target="_blank" href="https://www.auvergne-thermale.com/">Aubergne Thermale</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/orcival.png') }}"></td>
                <td>   <a  target="_blank" href="http://orcival.stationverte.com/">Orcival</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/lamontagne.png') }}"></td>
                <td> <a  target="_blank" href="https://www.lamontagne.fr/accueil.html">La montagne</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/sancy.png') }}"></td>
                <td> <a target="_blank" href="https://www.sancy.com/destination/toutes-les-communes/saint-nectaire/">Sancy</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/mcdo.png') }}"></td>
                <td> <a target="_blank" href="https://www.restaurants.mcdonalds.fr/">Mcdonalds</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/cmmc.png') }}"></td>
                <td> <a target="_blank" href="https://www.cmmc.fr/banque/assurance/credit-mutuel/web/j_6/accueil">Crédit Mutuelle</a></td>
            </tr>

            <tr>
                <td><img src="{{ asset('img/partner/labourboule.png') }}"></td>
                <td>   <a target="_blank" href="http://www.ville-labourboule.com/">Ville La Bourboule</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/auvergnerhonealpes.png') }}"></td>
                <td><a target="_blank" href="https://www.auvergnerhonealpes.fr/">Auvergne-Rhône-Alpes</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/hpark.png') }}"></td>
                <td><a target="_blank" href="http://hpark.fr/">Hpark</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/mairie-mont-dore.png') }}"></td>
                <td><a target="_blank" href="http://www.mairie-mont-dore.fr/">Mairie Mont-Dore</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/intermarche.png') }}"></td>
                <td> <a target="_blank" href="https://www.intermarche.com/home/magasins/accueil/puy-de-dome/clermont-ferrand-08118.html">Intermarche</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/francebleu.png') }}"></td>
                <td><a target="_blank" href="https://www.francebleu.fr/">France Bleu</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/aydat.png') }}"></td>
                <td> <a target="_blank" href="http://www.aydat.fr/">Aydat</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/running.png') }}"></td>
                <td>  <a target="_blank" href="https://www.running-conseil.com/">Running Conseil</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/murol.png') }}"></td>
                <td> <a target="_blank" href="http://www.murol.fr/">Murol</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/lidl.jpg') }}"></td>
                <td><a target="_blank" href="https://www.lidl.fr/fr/index.htm">Lidl</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/vo2.png') }}"></td>
                <td>  <a target="_blank" href="http://vo2-optimum-training.com/personnal-training/fr/">Vo2 Optimum Training</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/clinea.png') }}"></td>
                <td><a target="_blank" href="https://www.orpea.com/clinique-de-soins-de-suite/une-offre-de-soins-variee">Orpea</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/champanelle.png') }}"></td>
                <td> <a target="_blank" href="http://www.saint-genes-champanelle.fr/">Saint-Genes-Chamanelle</a></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/partner/camping-lac-aydat.png') }}"></td>
                <td>  <a target="_blank" href="https://www.camping-lac-aydat.com/fr/accueil/#/">Camping lac Aydat</a></td>
            </tr>
        </tbody>
    </table>

    </div>
</div>

{% endblock %}
