{% extends 'base-admin.html.twig' %}

{% block content %}
    <div class="container">
        {{ form_start(form, {'action': path('add-place'), 'method': 'POST' }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
