{% extends 'base-admin.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Administrer les lieux</h1>
        {% if places  == null %}
            <div class="alert alert-warning">
                <h4 class="alert-heading">Attention!</h4>
                <p class="mb-0">Aucun lien n'a été enregistré <a href="{{ path('add-place') }}" class="alert-link">Ajouter un lieu</a>.</p>
            </div>

        {% else %}

            <div class="btn-add">
                <button class="btn btn-primary"><a href="{{ path('add-place') }}">Ajouter lieu</a></button>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Tél</th>
                    <th>Prix </th>
                    <th>Gestion</th>
                </tr>
                </thead>
                <tbody>

                {% for place in places %}
                    <tr>
                        <td>{{ place.namePlace }}</td>
                        <td> {{ place.address }}</td>
                        <td> {{ place.postalCode}}</td>
                        <td> {{ place.town}}</td>
                        <td>{{ place.phone}}</td>
                        <td>{{ place.price}}€</td>
                        <td>
                            <button type="button" class="btn btn-success a_button" ><a href="{{ path('update-place' , {'id' : place.id }) }}">Modifier</a></button>
                            <button type="button" class="btn btn-danger a_button" ><a href="{{ path('delete-place' , {'id' : place.id }) }}">Supprimer</a></button>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </div>
{% endblock %}
