{% extends 'base-admin.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Administrer les sorties</h1>
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div>
                <h3> {{ year }} {{ month }} </h3>
            </div>
            <div>
                {# <a href="{{ path('get-pdf-month', {'month' : monthNumber ,'year' : year }) }}" class="btn btn-warning">Télécharger les sorties du mois</a> #}
                <a href="{{ path('add-event') }}" class="btn btn-success">Ajouter sorties</a>
                <a href="{{ path('event') }}" class="btn btn-info">Retour mois actuel</a>
                <a href="{{ path('previews-month', {'month' : monthNumber ,'year' : year } )}}" class="btn btn-primary"> < </a>
                <a href="{{ path('next-month', {'month' : monthNumber ,'year' : year } )}}" class="btn btn-primary"> > </a>
            </div>
        </div>
        <div>
            <table class="table table-striped">
                <tr>
                    {% for day in 1..numberDay %}
                    <td class="calendar_table d-flex flex-row align-items-center justify-content-between">
                        <h6>{{ day }} {{ nameInFrench[day] }}</h6>
                        {% for event in allEvents %}
                            {% if (event.dateEventStart | date('j') == day) and (event.dateEventStart | date('m') == monthNumber) and (event.dateEventStart | date('Y') == year)    %}
                                <a class="calendar_a" href="{{ path('see-event', {'id' : event.id } )}}">
                                        {{ event.nameEvent | capitalize}}
                                            {{ event.dateEventStart | date('G:i') }}
                                                à
                                            {{ event.dateEventEnd | date('G:i') }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}