{% extends 'base-admin.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card m-12">
                <div class="card-header">
                    <h6 class="card-title">Sortie : {{ event.nameEvent }}</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-text">Début : {{ event.dateEventStart | date("m d Y H:i")   }}</h6>
                    <h6 class="card-text">Fin : {{ event.dateEventEnd |  date("m d Y H:i")  }}</h6>
                    <h6 class="card-text">Nombre d'accompagnant : {{ event.numberEscort  }}</h6>
                    <h6 class="card-text"> Patient(s) :
                        {% for patient in event.patients %}
                            {{ patient.getFirstName }} |
                        {% endfor %}
                    </h6>
                    <h6 class="card-text">Lieux : {{ event.place.getNamePlace  }} adresse : {{ event.place.getAddress  }} {{ event.place.getPostalCode  }} Tél : {{ event.place.getPhone  }} prix : {{ event.place.getPrice  }}€</h6>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-success a_button"><a href="{{ path('update-event' , {'id' : event.id }) }}">Modifier</a></button>
                <button type="button" class="btn btn-danger a_button" ><a href="{{ path('delete-event' , {'id' : event.id }) }}">Supprimer</a></button>
            </div>
            </div>
        </div>

    </div>
{% endblock %}
